
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    font-weight: bold;
}


/*catalog*/

.main-header {
    background-color: #c5e5ff;
    margin-bottom: 55px;
}
 
.container {
    width: 940px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fffbbc;
 }

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

 .main-navigation {
    float: left;
    width: 800px;
    min-height: 70px;
    background-color: #ceffc6;
 }
 
 .main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 
 .main-navigation li {
    display: inline-block;
}
 
 .main-navigation a  {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
 }
 
 .user-block {
    float: right;
    width: 140px;
    min-height: 70px;
}
  .main-header a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
 }

.inner-page-title {
    background-color: #d2e3ca;
    margin-bottom: 60px;
}

.inner-page-title h1 {
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 30px;
}

.breadcrumbs ul {
    margin: 0px;
    padding: 0px;
}

.breadcrumbs ul li{
    display: inline-block;
    margin: 0;
    margin-right: 40px;
}

.breadcrumbs a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}

.filter-block {
    width: 230px;
    float: left;
    margin-right: 10px;
    min-height: 600px;
    text-transform: uppercase;
    background-color: #dacfdc;
}

.filter-block h2 {
    text-transform: uppercase;
    font-size:  24px;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

label {
    display: block;
    padding-bottom: 20px;
}

.catalog-container {
    width: 700px;
    float: left;
    min-height: 730px;
    font-size: 0px;
    background-color: #dacfff;
}

.catalog-item {
    width: 220px;
    height: 280px;
    display: inline-block;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-right: 20px;
 
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.item-image img {
    margin-bottom:  15px;
}

.item-description {
    min-height: 50px;
  
    text-decoration: none;
    text-transform:  uppercase;

}

.item-price{
    min-height: 40px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform:  uppercase;
    vertical-align: middle;
}
.pagination ul {
    font-size: 0px;
    margin-bottom: 55px;
    margin-top: 55px;
}
.pagination li{
    font-size: 14px;
    display: inline-block;
    margin-right: 15px;

}

.footer-contacts {
    margin-top: 20px;
   float: left;
   width: 380px;
   margin-right: 20px;
 }
 
 .footer-social {
   float: left;
   width: 140px;
   margin-right: 20px;
 }
 
 .footer-copyright {
   float: right;
   width: 200px;
 }



























